<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは! " %>
        <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: :greeting__link %>
      </div>
    <% end %>

    <% if @items.present? %>
      <div class="title">
        <%= "Random Pickup!" %>
      </div>
      <div class="card__wrapper">
        <%= render partial: "item", collection: @items %>
      </div>
    <% end %>

      <div class="category-cards">
        <div class="title">
          <%= "Match from Categories" %>
        </div>
        <div class="card__wrapper">
          <% @categories.each do |category| %>
            <div class="card">
              <%= link_to image_tag("1", class: :card__img ), category_path(category.id) %>
              <div class="card__body">
                <%# <%= link_to category.id, root_path, class: :card__title%>
                <%= link_to category.name, category_path(category.id), class: :card__title%>
              </div>
            </div>
          <% end %>
        </div>
      </div>

  </div>
</main>
