<main class="main">
  <div class="inner">
    <div class="item__wrapper">
      <p class="item__hedding">
        <%= @item.name %>
      </p>

      <div class="item__image">
        <%= image_tag @item.image %>
      </div>

      <div class="item__body">
        <div class="item__detail">
          <p class="detail__title">価格</p>
          <p class="detail__price">
            <%= "¥ #{@item.price}" %>
          </p>
          <p class="detail__price">
            <%= @item.delivery_charge.name %>
          </p>
        </div>

        <div class="item__detail">
          <p class="detail__title">作品紹介</p>
          <p class="detail__message">
            <%=safe_join(@item.explanation.split("\n"),tag(:br))%>
          </p>
        </div>

        <% if user_signed_in? %>
          <% if current_user.id == @item.user_id %>
            <div class="item__manage">
              <%= link_to "編集する", edit_item_path, class: :item__btn %>
              <%= link_to "削除する", item_path(@item.id), method: :delete, class: :item__btn %>
            </div>
          <% else %>
            <% if @item.order.blank? %>
              <div class="item__manage">
                <%= link_to '購入する', item_orders_path(@item.id) ,class: :item__btn %>
              </div>
            <% elsif @item.order.present? %>
              <div class="item__manage">
                <%= "※この作品は売り切れです" %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <div class="item__detail">
          <p class="detail__title">作品情報</p>
          <table class="detail-table">
            <tbody>
              <tr>
                <th class="detail-item">出品者</th>
                <td class="detail-value"><%= link_to "#{@item.user.nickname}", user_path(@item.user.id), class: :item__user %></td>
              </tr>
              <tr>
                <th class="detail-item">カテゴリー</th>
                <td class="detail-value"><%= @item.category.name %></td>
              </tr>
              <tr>
                <th class="detail-item">色</th>
                <td class="detail-value"><%= @item.color.name %></td>
              </tr>
              <tr>
                <th class="detail-item">素材</th>
                <td class="detail-value"><%= @item.material.name %></td>
              </tr>
              <tr>
                <th class="detail-item">商品の状態</th>
                <td class="detail-value"><%= @item.color.name %></td>
              </tr>
              <tr>
                <th class="detail-item">サイズ</th>
                <td class="detail-value"><%= @item.size.name %></td>
              </tr>
              <tr>
                <th class="detail-item">配送料の負担</th>
                <td class="detail-value"><%= @item.delivery_charge.name %></td>
              </tr>
              <tr>
                <th class="detail-item">発送元の地域</th>
                <td class="detail-value"><%= @item.prefecture.name %></td>
              </tr>
              <tr>
                <th class="detail-item">発送日の目安</th>
                <td class="detail-value"><%= @item.shipping_day.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        <div class="item__comments">
          <% if user_signed_in? %>
            <%= form_with(model: [@item, @comment], local: true) do |f|%>
              <div class="field">
                <%= f.label :text, "コメント投稿" %><br />
                <%= render 'shared/error_messages', model: f.object %>
                <%= f.text_area :text, class: :comment_text %>
              </div>
              <div>
                <%= f.submit "送信する", class: :comment_btn %>
              </div>
              <div class="comment-warn">
                <%= "相手のことを考え丁寧なコメントを心がけましょう。" %><br />
                <%= "不快な言葉遣いなどは利用制限や退会処分となることがあります。" %>
              </div>
            <% end %> 
          <% end %>

          <div class="comment_title">
            <%= "コメント一覧" %>
          </div>
          <% unless user_signed_in? %>
            <div class="comment-warn">
              <%= "コメントを投稿するにはログインが必要です。" %>
            </div>
          <% end %>

            <ul class="comments_lists">
              <% if @comments %>
                <% @comments.each do |comment| %>
                  <li class="comments_list">
                    <%=safe_join(comment.text.split("\n"),tag(:br))%>
                    <%= link_to "by #{comment.user.nickname}", user_path(comment.user_id), class: :comment_user %>
                  </li>
                <% end %>
              <% end %>
            </ul>
        </div>

      <div class="item__detail">
        <%= link_to "#{@item.category.name}の作品をもっと見る", category_path(@item.category.id) ,class: :another_item %>
        <%= link_to 'ホームに戻る', root_path ,class: :change_item_btn %>
      </div>

    </div>
  </div>
</main>